<h1>Merchant Dashboard</h1>
<p>aka merchant show html</p>

<section class="merchant-detail-summary">
  <div class="dasboard-container">

    <h2>Merchant Summary: <%= @current_merchant.username %></h2>
    <h4>Joined Site at: <%= @current_merchant.created_at.strftime("%B %d, %Y") %> | <%= @products.count %></h4>
    <h5>Total Revenue: <%= @revenue %></h5>

    <table>
      <thead>
        <tr>
          <th>Orders</th>
          <th>Order_Item</th>
          <th>Quantity</th>
          <th>Gross Revenue</th>
          <th>Status</th>
        </tr>
      </thead>
    </table>
  </div>
</section>
