// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-container {
  margin: 0;
  padding: 5%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.card {
  margin-top: 2%;
  margin-bottom: 3%;
}

.image-tag {
  width: 300px;
  height: 200px;
}

.title-page {
  padding: 5px;
  color: rgb(128,128,128);
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

.product-info {
  text-align: center;
}

.product-thumbnail {
  margin-top: 50px;
  border: 1px solid green;
}


.page-container {
  border: 1px solid black;
}

.image-show-tag {
  padding-bottom: 8%;
  width: 500px;
  height: 400px;
}

.pagination {
  .previous_page { background:#ffffff; color:white; border: 2px solid #35324D; padding: .5em; font-size: .8em; color: #35324d; }
  .previous_page.disabled { background: white; color: #dedede; border: 2px solid #dedede }
  .current { background: #FF9F05; color: #ffffff ; border: .4em solid #FF9F05;}
  .next_page { background:#ffffff; color:white; border: 2px solid #35324D; padding: .5em; font-size: .8em; color: #35324d; }
  .next_page.disabled { background: white; color: #dedede; border: 2px solid #dedede }
  padding-right: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.blockquote {
  font-style: italic;
  margin-left: -100px;
  margin-right: -100px;
}

.blockquote p:before {
  content: open-quote;
}

.blockquote p:after {
  content: close-quote;
}

.form-checkboxes{
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.label-checkbox{
  margin-left: 100px;
}
