<div id="Home-container">

  <% if params[:merchant_id] %>
  <h2>Merchants Products</h2>
  <% else %>
  <h1>Products#index</h1>
  <h2>List of All Products</h2>
  <% end %>

  <% @products.each do |product| %>
  <div class="product-name">
    <div class="flex-container">
      <strong><h5>
        <%= link_to image_tag("#{product.image}", :class => 'image-tag'), product_path(product.id) %>
      </h5></strong>
    </div>
    <p class="product-info">by: <%= link_to product.merchant.username, merchant_path(product.merchant_id) %></br><h6 class="product-info"><%= number_to_currency(product.price) %></h6></p>
    <% end %>
  </div>

</div>
